<mat-expansion-panel [expanded]="isStepCurrent" [disabled]="!canAccessStep">
	<mat-expansion-panel-header>
		<mat-panel-title>
			<mat-icon>{{
				isStepCompleted ? 'check_circle' : isStepCurrent ? 'radio_button_checked' : 'radio_button_unchecked'
			}}</mat-icon>
			&nbsp; 4) Elegir 'Datos a guardar'
		</mat-panel-title>
		<mat-panel-description *ngIf="selectedColumns.length > 0">
			{{ selectedColumns.length }} columnas seleccionadas
		</mat-panel-description>
	</mat-expansion-panel-header>
	<div class="step-content">
		<p><strong>Selecciona las columnas que quieres incluir en los archivos generados:</strong></p>
		<mat-form-field appearance="outline" class="mat-form-field-fluid">
			<mat-label>Columna a guardar</mat-label>
			<mat-select multiple [(ngModel)]="selectedColumns">
				<mat-option>
					<input
						matInput
						placeholder="Buscar columna..."
						[(ngModel)]="headerSearchTerm"
						(click)="$event.stopPropagation()"
						(keydown)="$event.stopPropagation()"
						style="width: 100%"
					/>
				</mat-option>
				<mat-option *ngFor="let header of filteredHeaders" [value]="header">
					{{ header }}
				</mat-option>
			</mat-select>
		</mat-form-field>

		<div class="current-filters" *ngIf="selectedColumns && selectedColumns.length > 0">
			<p><strong>Columnas seleccionadas:</strong></p>
			<mat-chip-listbox>
				<mat-chip> {{ selectedColumns.join(', ') }}</mat-chip>
			</mat-chip-listbox>
		</div>

		<div class="step-actions">
			<button mat-raised-button color="primary" (click)="onContinue()" [disabled]="selectedColumns.length === 0">
				Continuar
			</button>
		</div>
	</div>
</mat-expansion-panel>
